<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FetchFeed</display-name>
    <servlet-name>FetchFeed</servlet-name>
    <servlet-class>uk.ac.dundee.jamesoliver.RemoteDataFetch.FetchFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchFeed</servlet-name>
    <url-pattern>/FetchFeed/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>postcomment</display-name>
    <servlet-name>postcomment</servlet-name>
    <servlet-class>uk.ac.dundee.yimengzheng.postcomment.postcomment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postcomment</servlet-name>
    <url-pattern>/postcomment/*</url-pattern>
  </servlet-mapping>
</web-app>